<!DOCTYPE html>
<html>
  <head>
    <title>Maple Manga</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/common.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <h1 class="text-center">搜索结果</h1>
    <div class="UpdateList">

      <% for (var manga in mangas) { %>
    <div class="clearfix itemBox" data-key="3631">
      <div class="itemImg">
          <img src="<%= mangas[manga].pic %>" width="100%" alt="" default="images/default/cover.png"></a></div>
      <div class="itemTxt">
          <a class="title" href="<%= mangas[manga].link %>"><%= mangas[manga].name %></a>
          <button class="btn btn-primary">添加订阅</button>
      </div>
    </div>
      <% } %>

    </div>

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>