<!DOCTYPE html>
<html>
  <head>
    <title>Maple Manga</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/common.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <h1 class="text-center">搜索结果</h1>
    <div class="UpdateList">
    <div class="clearfix itemBox" data-key="3631">
      <div class="itemImg">
          <img src="https://res.333dm.com/images/cover/201905/15592100973483631568ba928.jpg" width="100%" alt="" default="images/default/cover.png"></a></div>
      <div class="itemTxt">
          <a class="title" href="https://m.manhuafen.com/comic/3631/">zyfSmallDick</a>
          <button class="btn btn-primary">添加订阅</button>
      </div>
    </div>
    <div class="clearfix itemBox" data-key="3631">
      <div class="itemImg">
          <img src="https://res.333dm.com/images/cover/201905/15592100973483631568ba928.jpg" width="100%" alt="" default="images/default/cover.png"></a></div>
      <div class="itemTxt">
          <a class="title" href="https://m.manhuafen.com/comic/3631/">zyfSmallDick</a>
          <button class="btn btn-primary">添加订阅</button>
      </div>
    </div>
    <div class="clearfix itemBox" data-key="3631">
      <div class="itemImg">
          <img src="https://res.333dm.com/images/cover/201905/15592100973483631568ba928.jpg" width="100%" alt="" default="images/default/cover.png"></a></div>
      <div class="itemTxt">
          <a class="title" href="https://m.manhuafen.com/comic/3631/">zyfSmallDick</a>
          <button class="btn btn-primary">添加订阅</button>
      </div>
    </div>
    <div class="clearfix itemBox" data-key="3631">
      <div class="itemImg">
          <img src="https://res.333dm.com/images/cover/201905/15592100973483631568ba928.jpg" width="100%" alt="" default="images/default/cover.png"></a></div>
      <div class="itemTxt">
          <a class="title" href="https://m.manhuafen.com/comic/3631/">zyfSmallDick</a>
          <button class="btn btn-primary">添加订阅</button>
      </div>
    </div>
    </div>

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>