<!DOCTYPE html>
<html>
  <head>
    <title>Maple Manga</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/common.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <form action="/search" method="POST">
        <input type="text" name="search" class="form-control" placeholder="Search">
      <button type="submit" class="btn btn-default" style="display:none;">Submit</button>
    </form>
    <div class="imgBox">
      <div class="Sub_H2">
        <span class="Title">更新列表</span>
      </div>
      <h1>欢迎你 <%= usr %> </h1>
      <ul class="col_3_1">
        <li class="list-comic"><a class="ImgA" href="https://m.manhuafen.com/comic/11/"><img src="http://mh.manhuazj.com/Uploads/cpic/h/22843.jpg" width="100%" alt="" default="images/default/cover.png"></a><a class="txtA" href="https://m.manhuafen.com/comic/11/">五等分</a><span class="info">更新了<a href="/comic/11/257032.html">238话</a></span>
        </li>
        <li class="list-comic"><a class="ImgA" href="https://m.manhuafen.com/comic/11/"><img src="http://mh.manhuazj.com/Uploads/cpic/h/22843.jpg" width="100%" alt="" default="images/default/cover.png"></a><a class="txtA" href="https://m.manhuafen.com/comic/11/">五等分</a><span class="info">更新了<a href="/comic/11/257032.html">238话</a></span>
        </li>
        <li class="list-comic"><a class="ImgA" href="https://m.manhuafen.com/comic/11/"><img src="http://mh.manhuazj.com/Uploads/cpic/h/22843.jpg" width="100%" alt="" default="images/default/cover.png"></a><a class="txtA" href="https://m.manhuafen.com/comic/11/">五等分</a><span class="info">更新了<a href="/comic/11/257032.html">238话</a></span>
        </li>
        <li class="list-comic"><a class="ImgA" href="https://m.manhuafen.com/comic/11/"><img src="http://mh.manhuazj.com/Uploads/cpic/h/22843.jpg" width="100%" alt="" default="images/default/cover.png"></a><a class="txtA" href="https://m.manhuafen.com/comic/11/">五等分</a><span class="info">更新了<a href="/comic/11/257032.html">238话</a></span>
        </li>
        <li class="list-comic"><a class="ImgA" href="https://m.manhuafen.com/comic/11/"><img src="http://mh.manhuazj.com/Uploads/cpic/h/22843.jpg" width="100%" alt="" default="images/default/cover.png"></a><a class="txtA" href="https://m.manhuafen.com/comic/11/">五等分</a><span class="info">更新了<a href="/comic/11/257032.html">238话</a></span>
        </li>
        <li class="list-comic"><a class="ImgA" href="https://m.manhuafen.com/comic/11/"><img src="http://mh.manhuazj.com/Uploads/cpic/h/22843.jpg" width="100%" alt="" default="images/default/cover.png"></a><a class="txtA" href="https://m.manhuafen.com/comic/11/">五等分</a><span class="info">更新了<a href="/comic/11/257032.html">238话</a></span>
        </li>
      </ul>
    </div>

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>

